dist/
.venv/
.local/
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
ansible/collections/
*.retry
.ansible/
.DS_Store
